// $containerMaxWidth: 1440px;
// $mainPadding: 50px;
// $minPadding: 15px;

$mainFont: 'Nunito';
$secondFont: 'Roboto';
$padding: 20px;


$boxShadow: rgba(0, 0, 0, 0.25);


$white: #fff;
$black: #191919;
$grayBorder: #9CA3AF;
$grayPlaceholder:  #6B7280;



$errorColor: #BA0000;
$successColor: #76CA66;


$bgc: #f6f2f1;

$index: calc(1vh + 1vw)
